/* Mobile first */
/* Ancho de pantalla hasta 700px */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    --color-header: #171d2b;
    --color-main: #32353f;
    --color-aside: #21242d;
    --color-botones-input: #383c47;
    --color-botones-input-hover: #4e5565;
    --color-texto-fondo: #ffffff;
    --color-meme-fondo: rgb(0, 0, 0);
    --texto-principal: 'Noto Sans', sans-serif;
    --color-boton-descarga: rgb(11, 116, 11);
    font-family: var(--texto-principal);
}

p, span, label{
    font-size: 0.8rem;
}

.display-none{
    display: none;
}

.transparent-background{
    background-color: transparent !important;
}

.global-button{
    height: 30px;
    padding: 8px;
    display: flex;
    align-items: center;
    border-radius: 2px;
}

.flex-row{
    display: flex;
    gap: 10px;
}
/* Header de la pagina */

.page-header{
    background-color: var(--color-header);
    color: var(--color-texto-fondo);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 10px;
    border-bottom: 1px solid rgb(186, 183, 183);
    z-index: 1;
}

.page-title{
    font-size: 1.5rem;

}

.page-controls{
    display: flex;
    flex-direction: row;
    gap: 15px;
    list-style-type: none;
}

.page-controls-links{
    color: var(--color-texto-fondo);
    display: flex;
    align-items: center;
    gap: 5px;
    text-decoration: none;
    font-weight: bold;
}

/* Main de la pagina */

.page-main{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px ;
    background-color: var(--color-main);
    padding: 10% 20px;
    z-index: 1;
}

.meme{
    max-width: 600px;
    aspect-ratio: 1 / 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #000000;
}

.meme-text{
    background-color: #FFFFFF;
    width: 100%;
    height: 15%;
    font-size: 40px;
    text-align: center;
}

.download-button{
    background-color: var(--color-boton-descarga);
    height: 50px;
    width: 160px;
    color: var(--color-texto-fondo);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    font-size: 14px;
    border: 1px solid var(--color-boton-descarga);
    border-radius: 4px ;
}

/* Aside de la pagina */

.page-aside{
    background-color: var(--color-aside);
    color: var(--color-texto-fondo);
    z-index: 2;
    position: absolute;
    right: 0px;
    top: 0px;
    width: 100%;
}

.aside{
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 20px;
}

.fa-xmark{
    align-self: self-end;
}

.text-aside-image{
    align-self: center;
}

.aside-text{
    gap: 25px
}

.aside-image{
    gap: 13px
}
.global-label{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 5px;
}

.global-input{
    background-color: var(--color-main);
    border: none;
    border-radius: 4px;
    height: 35px;
    color: white;
    padding: 5px;
}

.global-input:hover{
    cursor: pointer;
    background-color: var(--color-botones-input-hover) ;
}

.checkbox-label{
    display: flex;
    align-items: center;
    gap: 5px
}

.text-size-align{
    display: flex;
    width: 100%;
    gap: 5px;
}
.number-size{
    width: 50px;
}
.text-font-size{
    flex-grow: 1
}

.text-align-button{
    flex-grow: 1;
}

.color-picker{
    display: flex;
    gap: 5px;
    align-items: center;
}

input[type=color]{
    width: 22px;
    background-color: var(--color-main);
    border: none;
}

input[type=color]::-webkit-color-swatch{
    border-radius: 100%;
}

.global-button:hover{
    cursor: pointer;
    background-color: var(--color-botones-input-hover);
}


@media (min-width: 700px){
    .page-aside{
        width: 260px;
    }

    .page-main{
        padding: 0px 20px
    }
}

@media (min-width: 1300px){
    #closeImageAside{
        display: none;
    }
    #closeTextAside{
        display: none;
    }
}

/*  ESTILOS DEL INPUT TYPE RANGE PARA DISTINTOS NAVEGADORES  */
input[type=range] {
    height: 5px;
    -webkit-appearance: none;
    margin: 10px 0;
    width: 100%;
    background-color: var(--color-aside);
  }
  input[type=range]:focus {
    outline: none;
  }
  input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 6px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 0px 0px 0px #000000;
    background: #393E49;
    border-radius: 5px;
    border: 0px solid #000000;
  }
  input[type=range]::-webkit-slider-thumb {
    box-shadow: 0px 0px 0px #000000;
    border: 1px solid #000000;
    height: 18px;
    width: 18px;
    border-radius: 10px;
    background: #FFFFFF;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -5.5px;
  }
  input[type=range]:focus::-webkit-slider-runnable-track {
    background: #393E49;
  }
  input[type=range]::-moz-range-track {
    width: 100%;
    height: 8px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 0px 0px 0px #000000;
    background: #393E49;
    border-radius: 5px;
    border: 0px solid #000000;
  }
  input[type=range]::-moz-range-thumb {
    box-shadow: 0px 0px 0px #000000;
    border: 1px solid #000000;
    height: 18px;
    width: 18px;
    border-radius: 10px;
    background: #FFFFFF;
    cursor: pointer;
  }
  input[type=range]::-ms-track {
    width: 100%;
    height: 8px;
    cursor: pointer;
    animate: 0.2s;
    background: transparent;
    border-color: transparent;
    color: transparent;
  }
  input[type=range]::-ms-fill-lower {
    background: #393E49;
    border: 0px solid #000000;
    border-radius: 10px;
    box-shadow: 0px 0px 0px #000000;
  }
  input[type=range]::-ms-fill-upper {
    background: #393E49;
    border: 0px solid #000000;
    border-radius: 10px;
    box-shadow: 0px 0px 0px #000000;
  }
  input[type=range]::-ms-thumb {
    margin-top: 1px;
    box-shadow: 0px 0px 0px #000000;
    border: 1px solid #000000;
    height: 18px;
    width: 18px;
    border-radius: 10px;
    background: #FFFFFF;
    cursor: pointer;
  }
  input[type=range]:focus::-ms-fill-lower {
    background: #393E49;
  }
  input[type=range]:focus::-ms-fill-upper {
    background: #393E49;
  }
  
