/* Mobile first */
/* Ancho de pantalla hasta 700px */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    --color-header: #171d2b;
    --color-main: #32353f;
    --color-aside: #21242d;
    --color-botones-input: #31353e;
    --color-botones-input-hover: #4e5565;
    --color-texto-fondo: #ffffff;
    --color-meme-fondo: rgb(0, 0, 0);
    --texto-principal: 'Noto Sans', sans-serif;
    --color-boton-descarga: rgb(11, 116, 11);
    font-family: var(--texto-principal);
}

p, span, label{
    font-size: 0.8rem;
}

.global-button{
    height: 30px;
    padding: 8px;
    display: flex;
    align-items: center;
    border-radius: 2px;
}

/* input[type=color]::-webkit-color-swatch{
    border-radius: 50%;
} */

/* Header de la pagina */

.page-header{
    background-color: var(--color-header);
    color: var(--color-texto-fondo);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 10px;
    border-bottom: 1px solid rgb(186, 183, 183);
}

.page-title{
    font-size: 1.5rem;

}

.page-controls{
    display: flex;
    flex-direction: row;
    gap: 15px;
    list-style-type: none;
}

.page-controls-links{
    color: var(--color-texto-fondo);
    display: flex;
    align-items: center;
    gap: 5px;
    text-decoration: none;
    font-weight: bold;
}

/* Main de la pagina */

.page-main{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px ;
    background-color: var(--color-main);
    padding: 50px 20px;
}

.meme{
    max-width: 600px;
    aspect-ratio: 1 / 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--color-meme-fondo);

}

.meme-text{
    background-color: var(--color-texto-fondo);
    width: 100%;
    height: 10%;
}

.download-button{
    background-color: var(--color-boton-descarga);
    height: 50px;
    width: 160px;
    color: var(--color-texto-fondo);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    font-size: 14px;
    border: 1px solid var(--color-boton-descarga);
    border-radius: 4px ;
}

